/* VARIAVEIS GLOBAIS - PALETA SPOTIFY */
:root{
  --spotify-green: #1DB954;      /* verde principal */
  --spotify-green-hover: #1ed760;

  --spotify-black: #121212;      /* fundo principal */
  --spotify-dark-gray: #181818;  /* cards e containers */
  --spotify-gray: #282828;       /* sidebar / player */

  --spotify-light-gray: #b3b3b3; /* textos secundários */
  --spotify-white: #ffffff;      /* textos principais */
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background: var(--spotify-black);
    color:var(--spotify-white);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 1%;
    background: rgba(0,0,0,0.8);
    top:0;
    width: 100%;
    height: 65px;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--spotify-green);
}
.header nav ul{
    display: flex;
    list-style: none;
}
.header nav ul li{
    margin: 0 15px;
}
.header nav ul li a{
    color:var(--spotify-white);
    text-decoration: none;
    transition: 0.3s;
}
.header nav ul li a:not(.btn-login):hover{
    color: var(--spotify-white);
     font-size: 1.0rem;

}

/* botão entrar */
.btn-login{
    background: var(--spotify-green);
    color: black;
    padding: 20px 35px;
    border-radius: 50px;
    font-weight: bold;
}
.divider{
    color: var(--spotify-light-gray);
}
.logo{
    width: 50px;
    height: 50px;
}
.btn_login {
  background: var(--spotify-green);
  color: black !important;
  padding: 18px 32px;
  border-radius: 50px;
  font-weight: bold;
}

.btn_login:hover {
  background: var(--spotify-green);
  transform: scale(1.05);
}
.left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.right {
    display: flex;
    align-items: center;
}


