    .searchBar {
    display: flex;
    align-items: center;
    background: #242424;
    border-radius: 500px;
    padding: 0 16px;
    height: 48px;
    max-width: 485px;
    width: 100%;
    gap: 12px;
    border: 1.5px solid transparent;
    transition: border-color 0.2s;
    }
    .searchBar:hover{
        background-color:#2F2F2F ;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .searchBar.focused {
    border-color: #ffff;
    }

    .input {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', system-ui, sans-serif;
    flex: 1;
    caret-color: #1DB954;
    }

    .input::placeholder {
    color: #b3b3b3;
    }

    .divider {
    width: 1px;
    height: 24px;
    background: #b3b3b3;
    opacity: 0.4;
    flex-shrink: 0;
    }

    .browseBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    }

    .browseBtn:hover rect {
    border-color: #fff;
    scale: 1.1;
    }

    .browseBtn:hover {
     transform: scale(1.1);
}
